{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    },{
      text: "Agreements",
      href: "/agreements"
    }]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if agreements.length %}
        <span class="govuk-caption-l">{{ agreements[0].agreementNumber }}</span>
        <h1 class="govuk-heading-l">Agreement summary</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Agreement Number</dt>
            <dd class="govuk-summary-list__value">{{ agreements[0].agreementNumber }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">SBI</dt>
            <dd class="govuk-summary-list__value">{{ agreements[0].sbi }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Value</dt>
            <dd class="govuk-summary-list__value">£{{ agreements[0].agreementData.action.paymentAmount }}</dd>
          </div>
        </dl>
      {% else %}
        <p class="govuk-body">Agreement not found</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
