{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Submitted agreements</h1>

      {% if agreements.length %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Agreement</th>
            <th scope="col" class="govuk-table__header">SBI</th>
            <th scope="col" class="govuk-table__header">Value</th>
            <th scope="col" class="govuk-table__header">Received</th>
            <th scope="col" class="govuk-table__header">Tasks</th>
            <th scope="col" class="govuk-table__header">Payments</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for agreement in agreements %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/agreement?agreementId={{ agreement.agreementId }}" class="govuk-link">{{ agreement.agreementNumber }}</a></td>
            <td class="govuk-table__cell">{{ agreement.sbi }}</td>
            <td class="govuk-table__cell govuk-table__header--numeric">£{{ agreement.agreementData.paymentAmount }}</td>
            <td class="govuk-table__cell">{{ agreement.createdAt }}</td>
            <td class="govuk-table__cell govuk-table__header--numeric"><a href="/tasks?agreementId={{ agreement.agreementId }}" class="govuk-link">{{ agreement.tasks.length }}</a></td>
            <td class="govuk-table__cell govuk-table__header--numeric"><a href="/payment-requests?agreementId={{ agreement.agreementId }}" class="govuk-link">{{ agreement.paymentRequests.length }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p class="govuk-body">No submitted agreements</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
