{% extends '_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ serviceName }}</h1>

      <p class="govuk-body">Manage land funding agreements</p>

      <p class="govuk-body"><a href="/agreements" class="govuk-link">View submitted agreement status</a></p>
      <p class="govuk-body"><a href="/tasks" class="govuk-link">View outstanding agreement tasks</a></p>
      <p class="govuk-body"><a href="/payment-requests" class="govuk-link">View payment requests</a></p>
    </div>
  </div>
{% endblock %}
